.button{
    background-color: rgb(47, 0, 255); 
    color:red;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: block;
 }
 .ard{
    border: 2 px solid hsl(0, 45, 80);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px hsla(0, 30, 40, alpha);
    padding: 10 px;
    margin: 60px; 
    text-align: center;
    max-width: 200px;
    display: inline-block;

}
ard.card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;


}
.stu{
    font-size: larger 200em; 
    font-family: 'Courier New', Courier, monospace;
    padding :10 px;
    border: 20px solid red;
    text-align: center;
    background-image: -webkit-radial-gradient();
}
